.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-create {
  width: 450px;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0px;
}

.task-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.task-button {
  border: 1px solid green;
  margin: 10px 0px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-show {
  border: 1px solid green;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-title {
  margin-bottom: 5px;
  word-wrap: break-word;
}
p{
  width: 100%;
}
.task-edit {
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
}
.task-delete {
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-create {
  width: 450px;
}
.task-update{
  width: 100%;
}
.task-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0px;
}

.task-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.task-button {
  border: 1px solid green;
  margin: 10px 0px;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.update-button{
  background-color: blueviolet;
  cursor: pointer;
}
.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-show {
  border: 1px solid green;
  border-radius: 30px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.task-title {
  margin-bottom: 5px;
}
.task-edit {
  padding: 5px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.task-delete {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-right: 10px;
}
.dateLittle{
  border: 4px solid #8A2BE2;
  border-radius: 3px;
  padding: 7px;
}
.date{
  border: 4px solid #008000;
  border-radius: 3px;
  padding: 7px;
}
.button-edits{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.giveUp{
  background-color: red;
}
